@import url('bootstrap.css');
@import url('bootstrap-overload.css');
@import url('bootstrap-responsive.css');
@import url('flags.css');

.navbar .brand {
  top: -4px;
  padding: 0 20px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  text-shadow: 0 -1px 0 black;
}

.btn i[class^="icon"] {
  position: relative;
  top: 1px;
  top: 2px\0/; /* IE8-9 Fix */
  line-height: 15px !important;
  font-size: 16px;
}

#staminia-logo {
  display:inline-block;
  height: 27px;
  width: 27px;
  margin-top: 5px;
  background: url("../img/logo-A99BEC36.png") no-repeat;
  background-size: 27px 27px;
}

#staminia-brand {
  position: relative;
  display:inline-block;
  top: -5px;
  left: 5px;
}

@media (min-width: 980px) {
  body {
    padding-top: 40px;
  }
  #main {
    padding: 10px;
    background: white;
  }
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom : 0;
  }
  #main {
    padding-top: 10px;
  }
}

.mainTitle  {
  font-size : 20px;
}

.mainTitle .sub {
  font-size : 16px;
  font-weight : normal;
}

.staminia-button-panel .btn, .staminia-button-panel .btn-group-advanced {
  margin : 6px 0;
}

.staminia-button-panel .btn-group-advanced .btn {
  width : 50%;
}

form.staminiaForm {
  display : block;
}

form.staminiaForm table {
  width : auto;
  margin-right: auto;
  margin-left: auto;
}

form.staminiaForm td, form.staminiaForm th {
  vertical-align : middle;
}

form.staminiaForm .control-group {
  margin : 0;
}

form.staminiaForm select, form.staminiaForm input {
  width : 100%;
  margin : 0;
}

#Staminia_Player_1, #Staminia_Player_2 {
  min-width : 100px;
}

form.staminiaForm input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height : auto;
}

.table tbody tr:not(:hover) td.stripe,
.table tbody tr:not(:hover) th.stripe {
  background-color: #f9f9f9;
}

tr.motherClubBonus td {
  text-align : center;
}

#imgCHPPLogo {
  height: 50px;
  width: 87px;
  background : url("../img/css_sprite.png") no-repeat -65px 0;
}

#imgValidHTML {
  background : url("../img/css_sprite.png") no-repeat -153px 0;
}

#imgHTML5 {
  height: 32px; 
  width: 30px;
  background : url("../img/css_sprite.png") no-repeat -68px -52px;
}

#imgCSS3 {
  height: 22px; 
  width: 24px;
  background : url("../img/css_sprite.png") no-repeat -98px -52px;
}

#imgMadeInItaly {
  height: 15px; 
  width: 80px;
  background : url("../img/css_sprite.png") no-repeat -153px -52px;
}

#generatedLinkBody {
  overflow : hidden;
  word-wrap: break-word;
  word-break: break-all;
}

#loginDropdown {
  width : 240px;
  padding : 15px;
  color : black;
}

#loginDropdown.hide, #loggedInDropdown.hide {
  display : none;
}

#loginDropdown fieldset {
  display : block;
  text-align : right;
}

#loginDropdown label.rememberme {
  display : block;
  float : left;
  margin : 0;
  line-height : 28px;
}

#loginDropdown label.rememberme:hover {
  cursor: pointer;
}

#loginDropdown input[type="checkbox"] {
  display : inline-block;
  vertical-align : baseline;
}

#loginDropdown button {
  margin : 0;
}

#loginDropdown small {
  font-size : smaller;
}

.clippy {
  height: 14px;
  width: 14px;
  display:inline-block;
  background : url("../img/css_sprite.png") no-repeat -206px -16px;  
}

.clippy-disabled {
  background : url("../img/css_sprite.png") no-repeat -206px -31px;  
}

#global-clippy-flash-bug {
  line-height: 1px;
}

div.form-actions .btn {
  margin-bottom : 5px;
}

.navbar li.hide {
  display : none;
}

option.isTransferListed {
  color : #00B400;
}

option.isBruised {
  color : #640000;
}

option.isInjured {
  color : #C80000;
}

option.isSuspended {
  color : #C81414;
}

.side-panel > div {
  margin-bottom : 20px;
}

.mainTitle {
  line-height : 24px;
  font-size : 20px;
}

.nav-tabs > li.credits {
  float : right;
}

.nav-tabs > li.credits > a {
  margin-right : 0;
}

.shy {
  color : #555;
}

#CHPP_Status {
  font-weight : bold;
}

table.table-staminia th, table.table-staminia td {
  text-align : right;
}

table.table-staminia th:first-child, table.table-staminia td:first-child {
  text-align : left;
}

table.table-staminia-debug th {
  text-align : center;
}

table.table-staminia-debug th:first-child, table.table-staminia-debug td:first-child {
  text-align : center;
}

table.table-staminia-contributions td:first-child {
  text-align : center;
}

table.table-staminia-contributions th:not(first-child), table.table-staminia-contributions td:not(first-child) {
  padding-left : 20px;
}

table.table-staminia-contributions td:nth-child(2) {
  font-weight : bold;
}

table.table-staminia th[colspan] {
  text-align : center;
}

.btn-status {
  z-index : 1;
  position : absolute;
  display : table-cell;
  width : 28px;
  padding-right : 0;
  padding-left : 0;
  text-align : center;
}

.btn-checkbox .btn:nth-child(2) {
  z-index : 0;
  position : absolute;
  top: 0;
  left: 0;
  height : 28px;
  width : 100%;
  padding-left: 35px;
  overflow: hidden;
  text-align : left;
}

.btn-checkbox .btn:nth-child(2) > span {
  overflow: hidden;
}

.btn-group > .btn {
  margin-left: 0px;
}
.btn-warning {
  color: black !important;
}

.btn-progress:disabled {
  color: white;
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right { 
  text-align: right !important;
}

.align-justify { 
  text-align: justify !important;
}

.width-auto {
  width: auto !important;
}

.legend-like {
  border-bottom: 1px solid #ddd;
  margin-bottom: 18px;
  font-weight: normal;
}

ul.nav.nav-tabs {
  background: #f5f5f5
}

p.minutes {
  font-size: 24px;
  margin-bottom: 6px;
}

.min-width {
  width: 1px;
}

@media (max-width: 767px) {
  .modal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: auto;
    margin: 0 8px;
  }
  .modal-body {
    max-height: none !important;
  }
}

#chartTotal,
#chartPartials {
  height: 250px;
  width: 100% !important;
  margin: 18px 0 9px;
}

#charts .legendLabel {
  color: #666666;
}

#charts .legend table {
  border: 1px solid #cccccc;
  border-collapse: separate;
  border-spacing: 2px;
  cursor: default;
}

#flot-tooltip {
  position: absolute;
  display: block;
  visibility: hidden;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 10px;
  background-color: #e7e7e7;
  opacity: 0.80;
  filter: alpha(opacity=80);
}

#tabCredits > p,
#tabCredits > blockquote {
  margin-bottom: 18px;
}
