<?php
include '../config.php';

// chpp secret keys, KEEP THESE SECRET!
define('APP_CONSUMERKEY',    '');
define('APP_CONSUMERSECRET', '');

// pervent flooding
define('MIN_REFRESH_SECONDS', 60);

// cookies (for permanent authorization)
define('COOKIE_DOMAIN', '');
define('COOKIE_PATH', '');
define('COOKIE_EXPIRE_TIME', mktime(0, 0, 0, 1, 1, 2020));
?>